.header__app-bar {
    background-color: $off-black !important;
    justify-content: space-between;
    flex-direction: row !important;
    height: auto;
}
.header__nav-group {
    display: flex;
}
.header__nav-link {
    // background-color: $main-red;
    color: $main-grey;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 2rem;
    text-decoration: none;
}