.header__app-bar {
    background-color: $off-black !important;
    justify-content: space-between;
    flex-direction: row !important;
    height: auto;
    transition: background-color 0.5s ease;
}

.header__app-bar-small {
    background-color: green;
    transition: background-color 0.5s ease;

}

.header__nav-group {
    display: flex;
}
.header__nav-link {
    // background-color: $main-red;
    color: $main-grey;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 2rem;
    text-decoration: none;
    &:hover {
        background-color: $main-green;
        color: white;
    }
}
.header__menu-icon {
    background-color: $main-grey;
}