
* {
    box-sizing: border-box;
    // border: 1px solid red;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    height: 100%;
}

h2 {
    text-align: center;
}

.is-avtive {
    color: white !important;
    background-color: $main-red;
    cursor: default;
    &:hover {
        background-color: $main-red !important;
    }
}

.container {
    margin: 0 auto;
    padding: 20px;
    width: 1170px;
}

.hr--separator {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid $light-grey;
    width: 30%;
}


@media (max-width: 767px){ 	
	.container {
		width: 100%;
    }
}